<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^__router__\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . __router__.php [L,QSA]
</IfModule>

<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>
